<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Нова книга</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${books}">

    <label for="name">Введіть назву книги: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}">Name Error
    </div>
    <br/>

    <p></p>
    <label for="author">Введіть автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}"
         th:errors="*{author}">Author Error
    </div>
    <br/>

    <p></p>
    <label for="year">Введіть рік видання: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}"
         th:errors="*{year}">Age Error
    </div>
    <br/>

    <p></p>
    <input type="submit" value="Створити!"/>
</form>

</body>
</html>